#Variabel & Tipe Data

##Variabel

In [32]:
#membuat variabel 
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [33]:
#menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)

ini adalah variabel
4
2.5

###Latihan 1

In [34]:
#membuat variabel 
tipedata1 = 8
tipedata2 = 6.2
tipedata3 = 'hello world'
tipedata4 = False
tipedata5 = 9j + 3

In [35]:
#menampilkan variabel
print(tipedata1)
print(tipedata2)
print(tipedata3)

8
6.2
hello world

##Tipe Data

1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [36]:
#menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

###Latihan 2

In [37]:
print(type(tipedata1))
print(type(tipedata2))
print(type(tipedata3))
print(type(tipedata4))
print(type(tipedata5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

##Konversi Tipe Data

Syntax Konversi tipe data
1. Integer = int()
2. Float = float()
3. String = str()
4. Boolean = bool()
5. Complex = complex()

In [38]:
#konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [39]:
#konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [40]:
#konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [41]:
#konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [42]:
#konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

###Latihan 3

In [43]:
#konversi tipe data integer
print(int(tipedata2))
print(int(tipedata4))

6
0

In [44]:
#konversi tipe data float
print(float(tipedata1))
print(float(tipedata4))

8.0
0.0

In [45]:
#konversi tipe data string
print(str(tipedata1))
print(str(tipedata2))
print(str(tipedata4))

8
6.2
False

In [46]:
#konversi tipe data bool
print(bool(tipedata1))
print(bool(tipedata2))

True
True

In [47]:
#konversi tipe data complex
print(complex(tipedata1))
print(complex(tipedata2))
print(complex(tipedata4))

(8+0j)
(6.2+0j)
0j