#Konversi Struktur Data

###Mengkonversi Tipe data List:

In [1]:
#membuat 2 list
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [2]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

###Mengkonversi Data Tuple

In [3]:
#Membuat dua tuple
T1 = (1,2,3,4)
T2 = (5,6,7,8)

In [4]:
#Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1,T2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

###Mengkonversi Tipe Data Set

In [5]:
#Membuat dua set
S1 = {1,2,3,4}
S2 = {5,6,7,8}

In [6]:
#Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1,S2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

###Mengkonversi tipe data dictionary

In [7]:
#Membuat Dictionary
D = {
    "nama": "Andi",
     "alamat": "Yogyakarta",
     "umur": 20
}

In [8]:
#Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'umur', 'nama', 'alamat'}

#Latihan

###Mengkonversi Tipe data List:

In [11]:
#membuat 2 list
L3 = [8,4,3,7]
L4 = [9,6,5,2]

In [12]:
#Mengkonversi struktur data list
k_tuple = tuple(L3)
k_set = set(L4)
k_dict = dict(zip(L3,L4))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(8, 4, 3, 7)
{9, 2, 5, 6}
{8: 9, 4: 6, 3: 5, 7: 2}

###Mengkonversi Data Tuple

In [15]:
#Membuat dua tuple
T3 = (8,4,3,7)
T4 = (9,6,5,2)

In [16]:
#Mengkonversi struktur data tuple
k_list = list(T3)
k_set = set(T4)
k_dict = dict(zip(T3,T4))
#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[8, 4, 3, 7]
{9, 2, 5, 6}
{8: 9, 4: 6, 3: 5, 7: 2}

###Mengkonversi Tipe Data Set

In [18]:
#Membuat dua set
S3 = {8,4,3,7}
S4 = {9,6,5,2}

In [19]:
#Mengkonversi struktur data set
k_list = list(S3)
k_tuple = tuple(S4)
k_dict = dict(zip(S3,S4))
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[8, 3, 4, 7]
(9, 2, 5, 6)
{8: 9, 3: 2, 4: 5, 7: 6}

###Mengkonversi tipe data dictionary

In [21]:
#Membuat Dictionary
D1 = {
    "nama": "Shevi",
     "alamat": "Tangerang",
     "umur": 19
}

In [22]:
#Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D1.keys())
k_tuple = tuple(D1.values())
k_set = set(D1.keys())
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Shevi', 'Tangerang', 19)
{'umur', 'nama', 'alamat'}