#Struktur Data Tuple

In [1]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini adalah tuple", T1)

Ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
#Menampilkan tipe struktur data
type(T1)

tuple

##Latihan 1

In [6]:
A1 = (9, "shevi", True, 8+2j)
print("Ini adalah tuple", A1)
type (A1)

Ini adalah tuple (9, 'shevi', True, (8+2j))

tuple

#Sifat - Sifat Tuple

In [10]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [11]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [12]:
#Dapat Diindeks/Slicing
print('elemen kedua dari tuple T1 adalah: ', T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [14]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [15]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

##Latihan 2

In [16]:
#Terurut/Ordered
A1[0:3]

(9, 'shevi', True)

In [17]:
#Tidak Bisa Diganti/Immutable
A1[3] = "Hallo Guys"

TypeError: ignored

In [18]:
#Dapat Diindeks/Slicing
print("elemen kedua dari Tuple A1 adalah: ", A1[1])

elemen kedua dari Tuple A1 adalah:  shevi

In [19]:
#Dapat Diijinkan Duplikasi
A2 = (5, 4.1, False, 4.1)
A2

(5, 4.1, False, 4.1)

In [20]:
#Menggabungkan Tuple
A3 = A1 + A2
A3

(9, 'shevi', True, (8+2j), 5, 4.1, False, 4.1)